@{
    ViewData["Title"] = "Home Page";
}
<div class="sss">
    <h1 style="text-align:center">Welcome to the Tour World</h1>
</div>

<div >
    <a class ="visit" asp-controller="Home" asp-action="aboutUs">Visit Us to know More</a>
</div>
@*
 <div class="container">
            
           
           @* <h2 id="sh2">Travel World</h2><br><br><br><br>
            
            
                <h3 id="sd">Welcome to our Travel World</h3><br>

              
               @*<h1>
                TRAVEL WORLD
               </h1>
               <br><br><br><br>
               <div class="link">
                   <a class="visit" asp-controller="Home" asp-action="aboutUs">Visit Us to know More</a>
               </div>
                
              
          
 </div>*@
@*
<section id="sec">
       <nav id="abc">
           

            <div class="nav-links">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
       </nav>

        <div id="sec">
            
            
           
            <h2 id="sh2">Travel World</h2><br><br><br><br>
            
            
                <h3 id="sd">Welcome to our Travel World</h3><br>

              
               <h1>
                TRAVEL WORLD
               </h1>
               <br><br><br><br>
                <a class="visit" asp-controller="Home" asp-action="aboutUs">Visit Us to know More</a>
              
          
        </div>
    
    </section>*@

